*, *:before, *:after {
    box-sizing: border-box;
}

/* Page */
.page {
    width: 600px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
}

.header-item {
    flex-basis: 0;
    flex-grow: 1;
}

.header-logo {
    order: 2;
}

.header-tel {
    order: 1;
}

.header-lang {
    order: 3;
}

.content {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #333;
}

.main {
    width: 60%;
    padding: 20px;
    background-color: #ccc;
}

.footer {
    background-color: #eee;
    padding: 20px;
}

